<form action="/" method="post">
  <label for="team_name">Team Name: </label>
  <input type="text" name="team[name]" id=team_name>
  <label for="team_motto">Team Motto: </label>
  <input type="text" name="team[motto]" id= "team_motto">
  <label for="team_members">Team Members: </label>
  <input type="text" name="team[members]" id="team_members">

  
  
</form>
